
<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Liste  des bulletins de soins</h4>
          <div class="add-items d-flex">

            <input type="search"  (ngModelChange)="recherche_bulletin(key.value)" #key="ngModel" ngModel
            name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search bulletin de soins..." required>


         
          
        </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th> montant_dep </th>
                  <th> montant_remboursement </th>
                  <th> valeur </th>
                
                <th> adherent</th>  
                <th> typesocial</th>  
                <th> category </th>  

                <th> action</th>  

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bulletin of list_bulletins">
                  <td> {{bulletin.montant_dep}} </td>
                  <td> {{bulletin.montant_remboursement}} </td>
                  <td> {{bulletin.valeur}}</td>
                  <td>  {{bulletin.adherent.nom +"    "+bulletin.adherent.prenom }}</td>
                  <td>  {{bulletin.adherent.typesocial}}</td> 
                  <td>  {{bulletin.category.nom}}</td>                  
                  <td>
                    <button type="button" (click) ="details_remboursement(bulletin.id)"   class="btn btn-outline-warning btn-sm">détails</button> 

<br>
                   <!-- Button to Open the Modal -->
<button type="button"  class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#myModal">
  supprimer
</button>
<br>
<br>






<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Warnning</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        voulez vous supprimé  ce bulletin
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">non</button>
        <button type="button" (click) ="deleteRemboursement(bulletin.id)" class="btn btn-danger" data-dismiss="modal">oui</button>
      </div>

    </div>
  </div>
</div>











                  </td>
                </tr>
           
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>